.taille{
    width: 60px;
}
.taille1{
    width: 90px;
}
.wrapper{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px,auto);
}
.one {
    grid-column: 1 / 1;
    grid-row: 1;
  }
  .two {
    grid-column: 2 / 2;
    grid-row: 1 / 2;
  }
